.stepline ul {
  -webkit-padding-start: 0px;
}

.stepline li {
  width: 2em;
  height: 2em;
  text-align: center;
  line-height: 2em;
  border-radius: 1em;
  border: 0.1em solid;
  border-color: #5cb85c;
  background: white;
  margin: 0 1em;
  display: inline-block;
  color: #5cb85c;
  position: relative;
}

.stepline li::before{
  content: '';
  position: absolute;
  top: .9em;
  left: -4em;
  width: 4em;
  height: .2em;
  background: #5cb85c;
  z-index: -1;
}



.stepline li:first-child::before {
  display: none;
}

.stepline .active {
  background: #5cb85c;
  color: white;
}

.stepline .active ~ li {
  background: white;
  border-color: lightblue;
  color: lightblue;
}

.stepline .active ~ li::before {
  background: lightblue;
}

